<div class="row">
    <div class="col-md-6">
        <img src="../../../assets/img/logotipos/Logo-shelby-in.png" alt="" class="img-fluid">
    </div>
    <div class="col-md-6" style=" border-left: 1px solid #000;">
        <h2>
            Auxiliar a las empresas a optimizar sus procesos con las nuevas tecnologías informáticas
        </h2>
    </div>
</div>
<div class="row mt-5">
    <h2 style="text-align: center;" class="mb-3">¡Revisa nuestra mercancía más comprada!</h2>
    <app-tarjeta></app-tarjeta>
</div>
